.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    padding: 10px;

}

.message {
    padding: 10px;

}

.message .message{
    color: white;
}


.sendMessage{
    width: 50px;
    height: 20px;

}